* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    font-family: 'Teko';
}

@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/Teko/Teko-Regular.ttf');
}